#menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.back-color-nav {
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.back-pink {
    background-color: #f67d92;
}

.navbar-brand {
    cursor: pointer;
}

.nav-item .nav-link,
.title.text-center h2,
.footer .footer-name p {
    color: white !important;
    cursor: pointer;
}

.nav-item .nav-link:hover {
    background-color: #424949;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 0px 69px 22px rgba(246, 125, 146, 1);
    -moz-box-shadow: 0px 0px 69px 22px rgba(246, 125, 146, 1);
    box-shadow: 0px 0px 69px 22px rgba(246, 125, 146, 1);
    transition: all 1s ease;
}

.color-pink {
    color: #f67d92 !important;
}

.black-color {
    color: #343a40 !important;
}


/*ESTILOS DEL HEADER name*/

.text-header {
    position: absolute;
    width: 100%;
    text-align: center;
}

.text-header p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    border-bottom: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    color: white;
}

.title-name {
    text-align: center;
    letter-spacing: 1px;
}

h1 {
    background-image: url(https://i.pinimg.com/originals/7c/ab/a0/7caba06d393d96473b84d6b17ac45740.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1;
    margin: 10px 0;
    font-weight: bolder;
}


/* PERFIL SOBRE MI*/

.content-perfil {
    position: relative;
}

.content-perfil .perfil .divs-white {
    background-color: #fff;
    border-radius: 24px 109px 24px 109px;
    -moz-border-radius: 24px 109px 24px 109px;
    -webkit-border-radius: 24px 109px 24px 109px;
    padding: 3%;
}

.perfil {
    background-color: white;
    width: 80%;
    margin: auto;
    position: absolute;
    top: -100px;
    padding: 2%;
    border-radius: 24px 109px 24px 109px;
    -moz-border-radius: 24px 109px 24px 109px;
    -webkit-border-radius: 24px 109px 24px 109px;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.foto,
.text-foto {
    width: 100%;
    padding: 2%;
}

.foto img {
    width: 65%;
}

.content-perfil {
    /*background-color: rgba(246, 125, 146, 0.6);*/
    height: 470px;
    background: rgb(246, 125, 146);
    background: linear-gradient(0deg, rgba(246, 125, 146, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.text-foto a {
    width: 50%;
    text-align: center;
}


/* -----   tabs   -------*/

.back-tab-black,
.footer-name {
    background-color: #18191b;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5%;
    overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #14C4AB;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #f67d92;
}

.tabs [class^="tab"] [type="radio"]:checked+div,
.tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
}

.tabs [class^="tab"] [type="radio"]+div,
.tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
    width: 50%;
}

.tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
}

.tabs .tab-2 div .d-flex div {
    font-size: 10vh;
    color: #f67d92;
    text-align: center;
    width: 25%;
}

.tabs .tab-2 div .d-flex div p {
    font-size: 15px;
    color: white;
    text-align: center;
}

.tabs .tab-2 .tab-2-cont {
    text-align: center;
    width: 30%;
}


/*** cards proyectos ***/

.content-cards {
    width: 100%;
}

.content-cards .two-divs {
    width: 50%;
    justify-content: space-around;
    padding-bottom: 5%;
}

.box .imgBx img {
    width: 300px;
    height: 500px;
}

.box {
    position: relative;
    width: 281px;
    height: 499px;
    margin: 30px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
    border-radius: 24px 109px 24px 109px;
}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.box:hover .imgBx img {
    opacity: 0;
}

.box .content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #18191B;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 24px 109px 24px 109px;
}

.box:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box .content h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    color: #f67d92 !important;
}

.box .content p {
    padding-top: 10%;
    color: #fff;
    text-align: center;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.btn-outline-danger,
.btn-outline-primary {
    color: #f67d92;
    border-color: #f67d92;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
}

.btn-outline-danger:hover,
.btn-outline-primary:hover {
    color: #fff;
    background-color: #f67d92;
    border-color: #f67d92;
}


/*  FOOOTER*/

.content-footer {
    width: 50%;
    margin: auto;
    padding: 2%;
}

.content-footer .flex-center .border-div {
    border-right: 2px solid #ffff !important;
    height: 40px;
}

.border-line {
    border-bottom: 4px double #fff;
}

.footer .create p {
    color: #fff;
}


/*footer icons*/

.flex-center {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
}

.icon-3d {
    padding: 10px;
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #f67d92;
}

.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
}

@keyframes icon3d {
    0% {
        text-shadow: 5px 4px rgb(255, 255, 255), -5px -6px rgba(189, 195, 199);
    }
    25% {
        text-shadow: -5px -6px rgb(255, 255, 255), 5px 4px rgba(189, 195, 199);
    }
    50% {
        text-shadow: 5px -4px rgb(255, 255, 255), -8px 4px rgba(189, 195, 199);
    }
    75% {
        text-shadow: -8px -4px rgb(255, 255, 255), -5px -4px rgba(189, 195, 199);
    }
    100% {
        text-shadow: -5px 0 rgb(255, 255, 255), 5px -4px rgba(189, 195, 199);
    }
}

@media (max-width: 1200px) {
    .content-cards .two-divs {
        flex-direction: column!important;
        align-items: center!important;
    }
}

@media (max-width: 992px) {
    #menu {
        background-color: #f67d92 !important;
    }
    .navbar-brand {
        color: #343a40 !important;
    }
    .text-header p span {
        font: 700 2.5em "Oswald", sans-serif;
    }
    .navbar-nav {
        text-align: center;
    }
    .foto,
    .text-foto {
        width: 100%;
        padding: 0%;
    }
    .content-perfil {
        height: 790px;
    }
    .img-text-perfil {
        flex-direction: column !important;
        padding-bottom: 15px;
    }
    .content-cards .two-divs {
        flex-direction: column!important;
        align-items: center!important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
    .content-perfil {
        height: 700px;
    }
    .img-text-perfil {
        padding-bottom: 15px;
    }
    .perfil {
        width: 90%;
    }
    .tabs .tab-2 div .d-flex div p {
        font-size: 15px;
    }
    .tabs .tab-2 div .d-flex,
    .img-text-perfil {
        flex-direction: column !important;
    }
    .tabs .tab-2 div .d-flex div {
        width: auto;
    }
    h1 {
        font-size: 45px;
    }
    .content-cards {
        flex-direction: column!important;
        align-items: center!important;
    }
    .content-footer {
        width: 100%;
    }
}